@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
* {
  font-family: "Roboto", sans-serif;
}

body {
  color: #182957;
  margin: 0px;
}

.container {
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px 10px 60px;
}

.card {
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(24, 41, 87, 0.6901960784), -0.2rem -0.2rem 0.5rem #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin: 20px;
  position: relative;
  transition: box-shadow 0.3s ease-out;
}
.card__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px 20px 0px;
}
.card__img img {
  border-radius: 1rem;
  height: 320px;
  width: 100%;
}
.card__context {
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
  margin: 5px 20px;
}

button {
  background-color: #EE4B5E;
  border-radius: 20px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-out;
}

button:hover {
  box-shadow: 1px 1px 5px 1px #182957;
}

.card:hover {
  box-shadow: 0px 0px 10px 1px #EE4B5E;
  transform: scale(1.01);
}

.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 10px;
}
.search img {
  cursor: pointer;
  margin-left: 30px;
  width: 50px;
}
.search__input {
  background: none;
  box-shadow: inset 0rem 0rem 0.7rem #c8d0e7;
  border: none;
  border-radius: 1rem;
  color: #9baacf;
  font-size: 1.4rem;
  padding-left: 1.8rem;
  height: 3.5rem;
  width: 20.4rem;
}
.search__input::placeholder {
  color: #bec8e4;
}
.search__input:focus {
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(24, 41, 87, 0.6901960784), -0.2rem -0.2rem 0.5rem #fff;
  outline: none;
}

.none {
  justify-content: center;
}

header {
  align-items: center;
  background-color: #182957;
  display: flex;
  justify-content: center;
}
header h1 {
  color: #FFF;
}

footer {
  background-color: #EE4B5E;
  bottom: 0;
  color: #FFF;
  display: flex;
  font-weight: bold;
  float: left;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 20px;
  }
  .search__input {
    background: none;
    box-shadow: inset 0rem 0rem 0.7rem #c8d0e7;
    border: none;
    border-radius: 1rem;
    color: #9baacf;
    font-size: 1.1rem;
    padding-left: 1.8rem;
    height: 3.5rem;
    width: 100%;
  }
  .search img {
    width: 40px;
    margin-left: 2.2rem;
  }
}
.genres {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.genres__input {
  background-color: #EE4B5E;
  border-radius: 20px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  margin: 0px 5px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-out;
}

.content {
  animation-name: action;
  animation-duration: 6s;
  animation-delay: -3s;
  background-color: #182957;
  border-radius: 1rem;
  color: #FFF;
  display: flex;
  grid-column: 1/6;
  grid-row: 6/1;
  font-size: 14px;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  position: relative;
  z-index: 2;
  transition: box-shadow 0.3s ease-out;
}
.content__area {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.content__text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.content__img img {
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.7rem #fff;
  height: 100%;
  width: 100%;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

@keyframes action {
  0% {
    background-color: #182957;
    top: 0px;
  }
  50% {
    background-color: rgba(24, 41, 87, 0.3568627451);
    bottom: 100px;
  }
  50% {
    background-color: #EE4B5E;
    bottom: 200px;
  }
  50% {
    background-color: rgba(24, 41, 87, 0.3568627451);
    bottom: 100px;
  }
  100% {
    background-color: #182957;
    bottom: 0px;
  }
}

/*# sourceMappingURL=index.css.map */
